.upload-btn{
}

.profile-pic {
  height: 100px;
  align-items: flex-start !important;
  width: 100px;
  border-radius: 50%;
}
.profileImg{
  width: 100px !important;
  border-bottom-left-radius: 40px !important;
  border-bottom-right-radius: 40px !important;
  padding-top: -20px !important;
}
