<nz-card [nzBordered]="false" nzTitle="{{cardTitle}}" [nzExtra]="extraTemplate" [nzActions]="[actionAdd]">
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
              <input nz-input formControlName="email" id="email" />
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>
<ng-template #extraTemplate>
    <button mat-mini-fab aria-label="close dialog" title="close dialog" class="atma-danger" (click)="close()"><mat-icon>close</mat-icon></button>
</ng-template>
<ng-template #actionAdd>
    <button title="Send Password Reset Email" aria-describedby="Send Password Reset Email" style="text-align: center;" nz-button  nzType="primary" [nzLoading]="loading" [disabled]="!form.valid || loading" (click)="forgotPassword()">Send Password Reset Email</button>
</ng-template>