<div class="row mb-1">
  <div class="col">
      <div class="input-group mb-3 box-shadow">
       <div class="input-group-append col-md-offset-8">
          <span class="input-group-text border-top-0 border-right-0 border-bottom-0">
              <button class="btn btn-md btn-default disabled"> Companies</button>
            </span>
              <span   class="input-group-text border-top-0 border-right-0 border-bottom-0">

              <button (click)="openModal('')" *ngIf="userType.user_type === 'user'" class="btn btn-md btn-success"><i class="fa fa-briefcase"></i> Add New Company</button>
              <button (click)="uploadEmployees()" *ngIf="userType.user_type !== 'user'" class="btn btn-md btn-info"><i class="fa fa-upload"></i> Upload Employees data</button></span>

              <span class="input-group-text border-top-0 border-right-0 border-bottom-0">

                <button class="btn btn-info pull-right" (click)="uploadEmployees.click()"><i class="fa fa-upload"></i> OR upload companies file</button>
                <input type="file" name="" #uploadEmployees hidden>

            </span>
              <span   class="input-group-text border-top-0 border-right-0 border-bottom-0"><i
                      class="fa fa-list"></i></span>
          </div>
      </div>
  </div>
</div>
<div widget class="card border-0 box-shadow">
<div class="card-body pt-0 widget-body">
<div class="table-responsive table-striped table-bordered mt-2">
  <ng2-smart-table class="table table-hover" [settings]="settings" [source]="dataSet"
      (custom)="onCustomAction($event)">
  </ng2-smart-table>
</div>
</div>
</div>
