<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [formGroup]="form">

    <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="text-gray">Full name</label>
            <input formControlName="name" class="form-control" type="text">
            <small class="text-danger" *ngIf="form.get('name').touched && form.get('name').hasError('required')">Required
              Field</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="text-gray">Email Address</label>
            <input formControlName="email_address" class="form-control" type="text">
            <small class="text-danger" *ngIf="form.get('email_address').touched ">
              <span *ngIf="form.get('email_address').hasError('required')">
                Required Field
              </span>
              <span *ngIf="form.get('email_address').hasError('email')">
                Please enter a valid email
              </span>
            </small>
          </div>
        </div>
        <div *ngIf="!formData" class="col-sm-12">
          <div class="form-group">
            <label class="text-gray">Password</label>
            <input formControlName="password" class="form-control" type="password">
            <small class="text-danger"
              *ngIf="form.get('password').touched && form.get('password').hasError('required')">Required
              Field</small>
          </div>
        </div>
      </div>
</div>

<div *ngIf="loading" class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
    aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>
<div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
  <div *ngFor="let err of errorMessages">{{err}}</div>
</div>
<div class="modal-footer">

  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <button *ngIf="!formData" [disabled]="!form.valid" type="button" class="btn  btn-md btn-primary"
    (click)="submitData()">Create Record</button>
  <button *ngIf="formData" [disabled]="!form.valid" type="button" class="btn  btn-md btn-primary"
    (click)="saveChanges()">Save Record</button>

</div>










