<div class="container">
    <div class="row">
        <div [formGroup]="form" class="modal-body">
            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="text-gray">Loan Id</label>
                        <input [value]="'1'" class="form-control" disabled type="text">
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="text-gray">Security Type</label>

                        <input class="form-control" disabled formControlName="securityType" type="text">
                        <small *ngIf="form.get('securityType').touched && form.get('securityType').hasError('required')"
                               class="text-danger">Required
                            Field</small>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="text-gray">Board-Meetings Evidenced</label>
                        <input class="form-control" formControlName="boardMeetingEvidenced" type="number">
                        <small *ngIf="form.get('boardMeetingEvidenced').touched && form.get('boardMeetingEvidenced').hasError('required')"
                               class="text-danger">Required
                            Field</small>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="text-gray">TurnOver Inline With Financials</label>

                        <input class="form-control" formControlName="turnOverInlineWithFinancials" type="text">
                        <small *ngIf="form.get('turnOverInlineWithFinancials').touched && form.get('turnOverInlineWithFinancials').hasError('required')"
                               class="text-danger">Required
                            Field</small>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="text-gray">Excesses In Account Evidenced</label>
                        <input class="form-control" formControlName="excessesInAccountEvidenced" type="number">
                        <small *ngIf="form.get('excessesInAccountEvidenced').touched && form.get('excessesInAccountEvidenced').hasError('required')"
                               class="text-danger">Required
                            Field</small>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="text-gray">CRB Report</label>

                        <input class="form-control" disabled formControlName="crbReport" type="text">
                        <small *ngIf="form.get('crbReport').touched && form.get('crbReport').hasError('required')"
                               class="text-danger">Required
                            Field</small>
                    </div>
                </div>



                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="text-gray">Collateral Type</label>

                        <input class="form-control" disabled formControlName="collateralType" type="text">
                        <small *ngIf="form.get('collateralType').touched && form.get('collateralType').hasError('required')"
                               class="text-danger">Required
                            Field</small>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="text-gray">Influenced By Politics</label>
                        <input class="form-control" formControlName="boardMeetingEvidenced" type="number">
                        <small *ngIf="form.get('influencedByPolitics').touched && form.get('influencedByPolitics').hasError('required')"
                               class="text-danger">Required
                            Field</small>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="text-gray">Ethical Issues From BsActivities</label>

                        <input class="form-control" disabled formControlName="ethicalIssuesArisingFromBsActivities" type="text">
                        <small *ngIf="form.get('ethicalIssuesArisingFromBsActivities').touched && form.get('ethicalIssuesArisingFromBsActivities').hasError('required')"
                               class="text-danger">Required
                            Field</small>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="text-gray">Law Compliant</label>
                        <input class="form-control" formControlName="lawCompliant" type="number">
                        <small *ngIf="form.get('lawCompliant').touched && form.get('lawCompliant').hasError('required')"
                               class="text-danger">Required
                            Field</small>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="text-gray">Collateral Document Approved</label>
                        <input class="form-control" formControlName="isCollateralDocumentApproved" type="number">
                        <small *ngIf="form.get('isCollateralDocumentApproved').touched && form.get('isCollateralDocumentApproved').hasError('required')"
                               class="text-danger">Required
                            Field</small>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="text-gray">Registration Document Approved</label>

                        <input class="form-control" disabled formControlName="isRegistrationDocumentApproved" type="text">
                        <small *ngIf="form.get('isRegistrationDocumentApproved').touched && form.get('isRegistrationDocumentApproved').hasError('required')"
                               class="text-danger">Required
                            Field</small>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="text-gray">Kra Pin Document Approved</label>
                        <input class="form-control" formControlName="isKraPinDocumentApproved" type="number">
                        <small *ngIf="form.get('isKraPinDocumentApproved').touched && form.get('isKraPinDocumentApproved').hasError('required')"
                               class="text-danger">Required
                            Field</small>
                    </div>
                </div>

                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>

                <div *ngIf="loading" class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75"
                         class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: 75%"></div>
                </div>
                <div *ngIf="errorMessages" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div *ngFor="let err of errorMessages">{{err}}</div>
                </div>
                <div class="modal-footer">

                    <button (click)="activeModal.close('Close click')" class="btn btn-outline-dark" type="button">
                        Close
                    </button>
                    <button (click)="submitData()" [disabled]="!form.valid" class="btn  btn-md btn-primary"
                            type="button">Save
                        Record
                    </button>

                </div>
            </div>


        </div>
        <!--  <hr>-->
        <!--  <button (click)='markInvalid()' *ngIf="userData !== 'user'" class="btn btn-danger btn-xm"><span class="fa fa-ok-circle"></span>Mark as invalid</button>-->
        <!--  <button (click)='close()' class="btn btn-success pull-right btn-xm"><span class="fa fa-ok-circle"></span>Ok Proceed</button>-->
        <!--  <br>-->
    </div>
