<div class="row">
  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 pl-2 pr-2 mb-4">
      <div class="w-100 h-100p">
          <ngx-charts-number-card [scheme]="applicationsBgColor" [textColor]="'#fff'" [innerPadding]="0"
              [results]="applications" [valueFormatting]="infoValueFormat" [labelFormatting]="infoLabelFormat"
              (select)="onSelect($event)">
          </ngx-charts-number-card>
      </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 pl-2 pr-2 mb-4">
      <div class="w-100 h-100p">
          <ngx-charts-number-card [scheme]="paidApplicationsBgColor" [textColor]="'#fff'" [innerPadding]="0"
              [results]="paidApplications" [valueFormatting]="infoValueFormat" [labelFormatting]="infoLabelFormat"
              (select)="onSelect($event)">
          </ngx-charts-number-card>
      </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 pl-2 pr-2 mb-4">
      <div class="w-100 h-100p">
          <ngx-charts-number-card [scheme]="unpaidApplicationsBgColor" [textColor]="'#fff'" [innerPadding]="0"
              [results]="unpaidApplications" [valueFormatting]="infoValueFormat" [labelFormatting]="infoLabelFormat"
              (select)="onSelect($event)">
          </ngx-charts-number-card>
      </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 pl-2 pr-2 mb-4">
      <div class="w-100 h-100p">
          <ngx-charts-number-card [scheme]="lapplicationsBgColor" [textColor]="'#fff'" [innerPadding]="0"
              [results]="lapplications" [valueFormatting]="infoValueFormat" [labelFormatting]="infoLabelFormat"
              (select)="onSelect($event)">
          </ngx-charts-number-card>
      </div>
  </div>
</div>
