<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="alert alert-success" role="alert">
      Showing all claims
    </div>
  
  <div widget class="card border-0 box-shadow">
  <div class="card-body pt-0 widget-body">
  <div class="table-responsive table-striped">
    <ng2-smart-table *ngIf="dataSet"
    class="table table-hover" [settings]="settings" [source]="dataSet"
        (custom)="onCustomAction($event)">
    </ng2-smart-table>
  </div>
  </div>
  </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>