<nz-card [nzBordered]="false" nzTitle="{{cardTitle}}" [nzExtra]="extraTemplate" [nzActions]="[actionAdd]">
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Role Name</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This field is required">
                <input nz-input formControlName="name" id="name">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="remarks">Remarks</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This field is required">
              <textarea rows="3" nz-input formControlName="remarks" id="remarks"></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">Active Status</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This field is required">
                <div>
                    <nz-select formControlName="status">
                        <nz-option nzLabel="Active" nzValue="true">Active</nz-option>
                        <nz-option nzLabel="Disabled" nzValue="false">Disabled</nz-option>
                    </nz-select>
                </div>
            </nz-form-control>
        </nz-form-item>
        <div *ngIf="errorMessage">
            <p class="text-danger">{{errorMessage}}</p>
        </div>
    </form>
</nz-card>
<ng-template #extraTemplate>
    <button mat-mini-fab aria-label="close dialog" title="close dialog" class="atma-danger" (click)="close()"><mat-icon>close</mat-icon></button>
</ng-template>
<ng-template #actionAdd>
    <button nz-button nzType="primary" [nzLoading]="loading" nzSize="small" *ngIf="edit == false; else editRole" [disabled]="!form.valid" (click)="addRole()">Create Role</button>
    <ng-template #editRole>
        <button nz-button nzType="primary" [nzLoading]="loading" nzSize="small" (click)="editRoleDetails()" [disabled]="!form.valid">Edit Role</button>
    </ng-template>
</ng-template>
